*{margin:0;padding:0}
body{font:400 14px/1.6 "Open Sans",sans-serif}
a{text-decoration:none}
ul{list-style:none}
header{position:fixed;top:0;z-index:99;width:100%;height:60px;padding-top:10px}
nav{position:absolute;top:30px;right:20px}
nav a{font-size:16px;margin:0 5px;padding-right:15px;border-right:1px dotted #808080;color:#7b838a;}
nav a:hover{text-decoration:underline}
nav a.active{font-weight:bold;color:#353535}
nav a.about{border:none}
.clearfix{display:inline-block}
footer .copy{position:absolute;right:35px;bottom:35px;opacity:.75;color:#808080}
footer .copy{position:fixed;right:35px;bottom:35px;opacity:.75;color:#808080}
@font-face{font-family:MyFonts;src:url("fonts/PoetsenOne-Regular.ttf")}
.logo{font-family:MyFonts;font-size:40px;color:#353535;width:100%;margin-left:20px}
.logo em{color:#999;font-style:normal;font-size:12px;font-weight:100;margin-left:2px}
.content{margin-top:100px;margin-left:100px;margin-right:100px;width:1000px}
h3{margin-bottom:15px}
.image{position:relative;width:1000px;height:120px;-moz-border-radius-topleft:5px 5px;-moz-border-radius-topright:5px 5px;border-top-left-radius:5px 5px;border-top-right-radius:5px 5px;background-image:url("img/earth.jpg")}
img.icon,img.work{position:absolute}
img.icon{top:5px;left:70px;width:110px;height:110px;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:60px}
img.work{top:65px;left:197px;width:25px;height:25px}
.current,.name{position:absolute;color:#fff}
.name{top:25px;left:200px;font-size:24px}
.current{top:68px;left:227px;font-size:14px}
.work{background-image:url("img/work.png")}
.social{background:#e8e8e8;height:40px;width:1000px}
.socialIcon{float:right}
.socialIcon:hover{-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);-ms-transform:rotate(-5deg);-o-transform:rotate(-5deg);transform:rotate(-5deg)}
#githubImg{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#github,#twitter,#linkedin{margin-right:5px;margin-left:5px}
#twitter,#linkedin{margin-top:2px}
#github{margin-top:4px}
.detail{position:relative;background:#d0d0d0;height:600px;-moz-border-radius-bottomleft:5px 5px;-moz-border-radius-bottomright:5px 5px;border-bottom-left-radius:5px 5px;border-bottom-right-radius:5px 5px}
.me,.skill,.education,.contact{position:absolute;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border-top:5px solid;background:#fff;padding:15px}
.me,.skill,.education{top:30px}
.education,.contact{height:120px;width:295px;left:660px}
.me,.skill{height:450px}
.me{border-top-color:#f00;left:20px;width:275px}
.skill{left:340px;border-top-color:#39f;font-size:13px;width:275px}
.skill ul li{background:#f0f0f0;margin:5px;padding:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow:0 0 3px #888;-webkit-box-shadow:0 0 3px #888;box-shadow:0 0 3px #888}
ul{margin-top:5px}
.experience{cursor:pointer;float:right;background:#39f;color:#fff;margin-top:-3px;margin-right:-3px;height:21px;width:8px;padding:3px 5px;font-weight:bold;-moz-border-radius-topright:3px 3px;-moz-border-radius-bottomright:3px 3px;border-top-right-radius:3px 3px;border-bottom-right-radius:3px 3px}
.education{border-top-color:#0c6}
.school{font-size:13px;font-weight:bold}
.period{font-size:11px;color:#686868}
.contact{top:220px;border-top-color:#fc0}
.contact ul{font-size:12px}
.contact ul li a:hover{text-decoration:underline}
