border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

border-radius-top(n)
	-moz-border-radius-topleft n n
	-moz-border-radius-topright n n
	border-top-left-radius n n
	border-top-right-radius n n

border-radius-bottom(n)
	-moz-border-radius-bottomleft n n
	-moz-border-radius-bottomright n n
	border-bottom-left-radius n n
	border-bottom-right-radius n n

border-radius-right(n)
	-moz-border-radius-topright n n
	-moz-border-radius-bottomright n n
	border-top-right-radius n n
	border-bottom-right-radius n n

shadow()
	-moz-box-shadow: 0 0 3px #888
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;

two-D-rotate()
	-webkit-transform rotate(-5deg)
	-moz-transform rotate(-5deg)
	-ms-transform rotate(-5deg)
	-o-transform rotate(-5deg)
	transform rotate(-5deg)
