*{margin:0;padding:0}
body{font:400 14px/1.6 "Open Sans",sans-serif}
a{text-decoration:none}
ul{list-style:none}
header{position:fixed;top:0;z-index:99;width:100%;height:HeaderHeight;padding-top:10px}
.clearfix{clear:both}
nav{position:absolute;top:30px;right:20px}
nav a{font-size:16px;margin:0 5px;padding-right:15px;border-right:1px dotted #808080;color:#7b838a;}
nav a:hover{text-decoration:underline}
nav a.active{font-weight:bold;color:#353535}
nav a.about{border:none}
.clearfix{display:inline-block}
footer .copy{position:fixed;right:25px;bottom:35px;opacity:.75;color:#808080}
@font-face{font-family:MyFonts;src:url("fonts/PoetsenOne-Regular.ttf")}
.logo{font-family:MyFonts;font-size:40px;color:#353535;width:100%;margin-left:20px}
.logo em{color:#999;font-style:normal;font-size:12px;font-weight:100;margin-left:2px}
