@import 'template.styl'
@import 'nav.styl'
@import 'footer.styl'
@import 'page.styl'
@import 'proj.styl'

section
    width 500px

ol
    margin-left 20px
    font-size 12px

.fb
    height 420px




