@import 'template.styl'
@import 'nav.styl'
@import 'footer.styl'
@import 'page.styl'

img
    width 30px
    height 30px

.star
    float left

h2
    text-align center

h4
    margin-top 5px
    margin-left 10px
    float left

.code-type
    float right
    color DARK

.title
    padding 3px

.content
    position relative
    left 50px
    width 950px
    margin-top HeaderHeight + 60px

.description
    display none

.item
    margin 20px
    border-bottom 1px black solid
    min-height 50px
    &:hover
        cursor pointer

// ul.project
//     list-style-image url(img/project/star.png)

// span.star
//     height 20px
//     width 20px
//     background url(img/project/star.png) no-repeat

// .br
//     margin 20px auto

// .test
//     margin-top 120px
//     margin-left 10px
//     float left

// .detail
//     float left
//     width 400px
//     position relative
//     top 50px

// .project
//     margin 20px auto
//     width 1200px
//     height 600px
//     border-top 4px solid RED
//     background gray
// .hide
//     display none

// .image
//     position relative
//     top 50px
//     float right