/* for all constants */


// length
$W:1000px;
$HeaderHeight:60px;

// color
$ORANGE:#FFCC00;
$RED:#FF0000;
$GREEN:#00CC66;
$BLUE:#3399FF;
$black:#000000; 
$white:#FFFFFF;
$gray:#C0C0C0;
$PURPLE:#bc5679;
$LIGHT_PURPLE:#9933FF;
$DARK:#666;
$DARK_BLUE:#6f85bf;