/* nav bar */

nav {
    position:absolute;
    top: 30px;
    right: 20px;
}

nav a {
    font-size: 16px;
    margin: 0 5px;
    padding-right: 15px;
    border-right: 1px dotted #808080;
    color: rgb(123, 131, 138);
    &:hover {
        text-decoration: underline;
    }
}

nav a.active {
    font-weight: bold;
    color: #353535;
}

nav a.about {
    border: none;
}

.clearfix {
    display: inline-block;
}