/* super class for all project related page */

@import "constant";
@import "mixin";
@import "template";
@import "nav";
@import "footer";
@import "logo";

* {
    @include headBarFont;
}

article {
    margin: 20px auto;
}

section {
    float: left;
}

aside {
    float: right;
    // height 300px
}

h3 {
    // float left
    font-family: forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;;
    font-size: 1.5em;
    font-weight: normal;
}

h4 {
    margin-top: 15px;
    font-size: 14px;
    font-weight: italic;
    text-shadow: 0 2px 0 white;
}

p {
    margin-top: 15px;
    font-size: 12px;
    width: 500px;
}

.picture {
    margin-top: 30px;
    padding: 5px;
    background: $white;
    height: 200px;
    width: 375px;
    border: 1px solid $white;
}

.hide {
    display: none;
}

// horizontal line 
.line {
    height: 10px;
    border-bottom: 1px solid $black;
}

// for all projects
.project {
    @include border-radius(5px);
    height: 300px;
    background: $gray;
    padding: 15px;
    border: 1px solid $gray;
}

.content {
    position: relative;
    left: 50px;
    width: 950px;
    margin-top: $HeaderHeight + 60px;
}

.code {
    float: right;
    position: relative;
    top: -30px;
}