/* super class for all project related page */
/* for all constants */
/* mixin function */
/* css for basic template */
/* for all constants */
* {
  margin: 0;
  padding: 0; }

body {
  font: 400 14px/1.6 "Open Sans", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
  padding-top: 10px; }

.color {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #426d9c), color-stop(40%, #0f67a1), color-stop(100%, #1384d1));
  background: -moz-linear-gradient(top, #426d9c, #0f67a1, #1384d1); }
  .color a {
    color: white; }

.clearfix {
  clear: both; }

.br {
  padding: 5px; }

/* nav bar */
nav {
  position: absolute;
  top: 30px;
  right: 20px; }

nav a {
  font-size: 16px;
  margin: 0 5px;
  padding-right: 15px;
  border-right: 1px dotted #808080;
  color: #7b838a; }
  nav a:hover {
    text-decoration: underline; }

nav a.active {
  font-weight: bold;
  color: #353535; }

nav a.about {
  border: none; }

.clearfix {
  display: inline-block; }

/* footer */
/* for all constants */
footer .copy {
  position: fixed;
  right: 15px;
  bottom: 35px;
  opacity: .75;
  color: silver; }

/* for all constants */
.logo {
  font-family: MyFonts;
  font-size: 40px;
  color: #353535;
  width: 100%;
  margin-left: 20px; }

.logo em {
  color: #999;
  font-style: normal;
  font-size: 12px;
  font-weight: 100;
  margin-left: 2px; }

@font-face {
  font-family: MyFonts;
  src: url(../../fonts/PoetsenOne-Regular.ttf); }

article {
  margin: 20px auto; }

section {
  float: left; }

aside {
  float: right; }

h3 {
  font-family: forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
  font-size: 1.5em;
  font-weight: normal; }

h4 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: italic;
  text-shadow: 0 2px 0 white; }

p {
  margin-top: 15px;
  font-size: 12px;
  width: 500px; }

.picture {
  margin-top: 30px;
  padding: 5px;
  background: white;
  height: 200px;
  width: 375px;
  border: 1px solid white; }

.hide {
  display: none; }

.line {
  height: 10px;
  border-bottom: 1px solid black; }

.project {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 300px;
  background: silver;
  padding: 15px;
  border: 1px solid silver; }

.content {
  position: relative;
  left: 50px;
  width: 950px;
  margin-top: 120px; }

.code {
  float: right;
  position: relative;
  top: -30px; }
